In [ ]:
import pandas as pd

In [ ]:
datos_incidentes=pd.read_csv("incidentes.csv") #Cargar dataframe

# Eliminar columnas

In [ ]:
df = pd.read_csv('incidentes.csv')

df = df.drop(['Quarter', 'Location_Type'], axis=1)
df.to_csv('incidentes_limpio.csv', index=False)
print(df.head())

     Incident_ID  Month  Day  Year       Date  \
0  20240326GATUA      3   26  2024  3/26/2024
1  20240326MOCHC      3   26  2024  3/26/2024
2  20240326NJWEN      3   26  2024  3/26/2024
3  20240325HIWAW      3   25  2024  3/25/2024
4  20240321NJMAN      3   21  2024  3/21/2024

                                 School  Victims_Killed  Victims_Wounded  \
0             Turner County High School               0                0
1  Charleston Junior Senior High School               0                0
2                 West Side High School               0                2
3             Wailuku Elementary School               0                1
4         Malcolm X Shabazz High School               1                0

   Number_Victims  Shooter_Killed        City State School_Level  \
0               0               0     Ashburn    GA         High
1               0               0  Charleston    MO         High
2               2               0      Newark    NJ         High
3               1               0     Wailuku    HI   Elementary
4               1               0      Newark    NJ         High

               Location During_Classes  Duration_min              Situation  \
0      Basketball Court            NaN           NaN                    NaN
1  Football Field/Track            Yes           1.0  Escalation of Dispute
2       Front of School            Yes           1.0                    NaN
3           Parking Lot             No           1.0  Escalation of Dispute
4  Football Field/Track             No           1.0                    NaN

            Targets Shots_Fired
0               NaN         NaN
1  Victims Targeted           1
2               NaN          99
3               NaN           1
4  Victims Targeted          99

# Scripts de juego de datos

In [ ]:
conteo_estados = datos_incidentes['State'].value_counts() #datos_incidentes['State'] es para acceder a la columna deseada
print(conteo_estados)

State
CA    102
TX     88
OH     73
IL     73
GA     61
PA     59
FL     58
TN     57
NY     57
NC     52
MD     49
VA     48
MI     44
IN     34
LA     33
AL     33
WA     30
CO     26
WI     25
MO     25
DC     25
SC     21
AR     20
NJ     20
OR     19
MN     19
KY     18
NM     16
AZ     16
KS     16
MS     16
MA     13
OK     13
NV     11
CT     11
IA     11
DE     10
UT     10
NE      5
WV      5
RI      4
MT      4
AK      4
ID      4
VT      4
ME      4
NH      3
ND      2
SD      2
HI      1
Name: count, dtype: int64

In [ ]:
conteo_por_estado_y_año = datos_incidentes.groupby(['State', 'Year']).size().reset_index(name='Count')
df_conteo = pd.DataFrame(conteo_por_estado_y_año)
print(df_conteo)

    State  Year  Count
0      AK  2018      1
1      AK  2019      1
2      AK  2022      1
3      AK  2023      1
4      AL  2018      4
..    ...   ...    ...
269    WV  2018      1
270    WV  2021      1
271    WV  2022      1
272    WV  2023      1
273    WV  2024      1

[274 rows x 3 columns]

In [ ]:
data = pd.read_csv('incidentes.csv')

casos_con_victimas = (data['Number_Victims'] > 0).sum()
print("Cantidad de casos con al menos una víctima:", casos_con_victimas)

Cantidad de casos con al menos una víctima: 702

In [ ]:
df = pd.read_csv('incidentes.csv')
total_victimas = df['Victims_Killed'].sum()

print("El total de víctimas fatales en los incidentes es:", total_victimas)

El total de víctimas fatales en los incidentes es: 300