In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/drive/MyDrive/datos.csv")

In [4]:
print (df)

       Incident_ID        Date                               School  \
0    20220620ILGRC  2022-06-20         Gresham School of Excellence
1    20220613WAMAE  2022-06-13                  Mariner High School
2    20220610ALBYB  2022-06-10                  Byhalia High School
3    20220609ALWAG  2022-06-09        Walnut Park Elementary School
4    20220608ARLIL  2022-06-08      Little Rock School District Bus
..             ...         ...                                  ...
810  20170127ILSCN  2017-01-27       Thomas G Scullen Middle School
811  20170120OHWEW  2017-01-20       West Liberty-Salem High School
812  20170117FLFRE  2017-01-17    Franklin County Elementary School
813  20170110ALALA  2017-01-10         Alexander City Middle School
814  20170101DELAH  2017-01-01  Lake Forest South Elementary School

               City State                                            Summary  \
0           Chicago    IL           3 people shot on elementary school field
1           Everett    WA  Shots fired in parking lot by teen during afte...
2           Byhalia    MS    Student fired gun in parking lot during dispute
3           Gadsden    AL  Man fatally shot by SRO while trying to break-...
4       Little Rock    AR       Shots struck school bus driving student home
..              ...   ...                                                ...
810      Naperville    IL  Adult male fatally shot in the parking lot whi...
811    West Liberty    OH  Student snuck shotgun into school, prepared in...
812       Eastpoint    FL  Gun discharged in car while parent was picking...
813  Alexander City    AL   Student showing off gun, accidentally discharged
814      Harrington    DE  Fight broke out among teens playing football o...

              Targets
0                Both
1    Victims Targeted
2    Victims Targeted
3                 NaN
4                Both
..                ...
810  Victims Targeted
811   Random Shooting
812           Neither
813           Neither
814               NaN

[815 rows x 7 columns]

In [5]:

print(df.dtypes)

Incident_ID    object
Date           object
School         object
City           object
State          object
Summary        object
Targets        object
dtype: object

In [6]:

print(df.head())

     Incident_ID        Date                           School         City  \
0  20220620ILGRC  2022-06-20     Gresham School of Excellence      Chicago
1  20220613WAMAE  2022-06-13              Mariner High School      Everett
2  20220610ALBYB  2022-06-10              Byhalia High School      Byhalia
3  20220609ALWAG  2022-06-09    Walnut Park Elementary School      Gadsden
4  20220608ARLIL  2022-06-08  Little Rock School District Bus  Little Rock

  State                                            Summary           Targets
0    IL           3 people shot on elementary school field              Both
1    WA  Shots fired in parking lot by teen during afte...  Victims Targeted
2    MS    Student fired gun in parking lot during dispute  Victims Targeted
3    AL  Man fatally shot by SRO while trying to break-...               NaN
4    AR       Shots struck school bus driving student home              Both

In [7]:
print(df.describe())

          Incident_ID        Date                 School     City State  \
count             815         815                    814      815   815
unique            814         589                    767      475    49
top     20210902CASAL  2021-09-02  Roosevelt High School  Chicago    CA
freq                2           6                      4       26    63

                                             Summary           Targets
count                                            815               653
unique                                           807                 4
top     Man found fatally shot in school parking lot  Victims Targeted
freq                                               2               342

In [14]:
df_final = df.dropna(subset=['Incident_ID'], axis=0)

In [9]:
df_final = df.dropna(subset=['Date'], axis=0)

In [10]:
df_final = df.dropna(subset=['School'], axis=0)

In [11]:
df_final = df.dropna(subset=['City'], axis=0)

In [16]:
df_final = df.dropna(subset=['Summary'], axis=0)

In [17]:
df_final = df.dropna(subset=['State'], axis=0)

In [18]:
df_final = df.dropna(subset=['Targets'], axis=0)

In [19]:
print (df)

       Incident_ID        Date                               School  \
0    20220620ILGRC  2022-06-20         Gresham School of Excellence
1    20220613WAMAE  2022-06-13                  Mariner High School
2    20220610ALBYB  2022-06-10                  Byhalia High School
3    20220609ALWAG  2022-06-09        Walnut Park Elementary School
4    20220608ARLIL  2022-06-08      Little Rock School District Bus
..             ...         ...                                  ...
810  20170127ILSCN  2017-01-27       Thomas G Scullen Middle School
811  20170120OHWEW  2017-01-20       West Liberty-Salem High School
812  20170117FLFRE  2017-01-17    Franklin County Elementary School
813  20170110ALALA  2017-01-10         Alexander City Middle School
814  20170101DELAH  2017-01-01  Lake Forest South Elementary School

               City State                                            Summary  \
0           Chicago    IL           3 people shot on elementary school field
1           Everett    WA  Shots fired in parking lot by teen during afte...
2           Byhalia    MS    Student fired gun in parking lot during dispute
3           Gadsden    AL  Man fatally shot by SRO while trying to break-...
4       Little Rock    AR       Shots struck school bus driving student home
..              ...   ...                                                ...
810      Naperville    IL  Adult male fatally shot in the parking lot whi...
811    West Liberty    OH  Student snuck shotgun into school, prepared in...
812       Eastpoint    FL  Gun discharged in car while parent was picking...
813  Alexander City    AL   Student showing off gun, accidentally discharged
814      Harrington    DE  Fight broke out among teens playing football o...

              Targets
0                Both
1    Victims Targeted
2    Victims Targeted
3                 NaN
4                Both
..                ...
810  Victims Targeted
811   Random Shooting
812           Neither
813           Neither
814               NaN

[815 rows x 7 columns]

In [20]:
df_limpio = df.dropna()

print(df_limpio)

       Incident_ID        Date                             School  \
0    20220620ILGRC  2022-06-20       Gresham School of Excellence
1    20220613WAMAE  2022-06-13                Mariner High School
2    20220610ALBYB  2022-06-10                Byhalia High School
4    20220608ARLIL  2022-06-08    Little Rock School District Bus
6    20220605INWEG  2022-06-05       West Side Leadership Academy
..             ...         ...                                ...
809  20170127SCSOA  2017-01-27            South Aiken High School
810  20170127ILSCN  2017-01-27     Thomas G Scullen Middle School
811  20170120OHWEW  2017-01-20     West Liberty-Salem High School
812  20170117FLFRE  2017-01-17  Franklin County Elementary School
813  20170110ALALA  2017-01-10       Alexander City Middle School

               City State                                            Summary  \
0           Chicago    IL           3 people shot on elementary school field
1           Everett    WA  Shots fired in parking lot by teen during afte...
2           Byhalia    MS    Student fired gun in parking lot during dispute
4       Little Rock    AR       Shots struck school bus driving student home
6              Gary    IN      2 teens shot following high school graduation
..              ...   ...                                                ...
809           Aiken    SC      Fight outside basketball game (rival schools)
810      Naperville    IL  Adult male fatally shot in the parking lot whi...
811    West Liberty    OH  Student snuck shotgun into school, prepared in...
812       Eastpoint    FL  Gun discharged in car while parent was picking...
813  Alexander City    AL   Student showing off gun, accidentally discharged

              Targets
0                Both
1    Victims Targeted
2    Victims Targeted
4                Both
6                Both
..                ...
809              Both
810  Victims Targeted
811   Random Shooting
812           Neither
813           Neither

[652 rows x 7 columns]

In [22]:
ciudades_frecuentes = df['City'].value_counts()

print(ciudades_frecuentes)

City
Chicago         26
Philadelphia    17
Houston         13
Los Angeles     11
Memphis         11
                ..
Owensboro        1
Burlington       1
Santa Maria      1
Owings Mills     1
Harrington       1
Name: count, Length: 475, dtype: int64

In [24]:
estados_frecuentes = df['State'].value_counts()

print(estados_frecuentes)

State
CA    63
IL    54
TX    52
PA    39
FL    38
GA    37
OH    37
VA    32
NC    30
NY    30
TN    29
AL    28
MI    24
WA    21
MD    21
SC    18
LA    17
MO    17
IN    16
CO    15
AR    14
KY    13
WI    13
NM    13
OR    12
NJ    11
MN    11
KS    11
MS    10
DC     9
OK     8
CT     7
IA     7
MA     7
UT     6
AZ     6
NV     5
NE     5
DE     4
AK     3
RI     3
WV     3
NH     3
MT     3
ME     2
ND     2
ID     2
VT     2
SD     2
Name: count, dtype: int64

In [26]:
ciudad_estado_frecuente = df.groupby(['City', 'State']).size().sort_values(ascending=False)

print(ciudad_estado_frecuente)

City            State
Chicago         IL       26
Philadelphia    PA       16
Houston         TX       13
Memphis         TN       11
Los Angeles     CA       11
                         ..
Hendersonville  NC        1
Hazelwood       MO        1
Hayward         CA        1
Hauppauge       NY        1
Yorktown        VA        1
Length: 506, dtype: int64

In [28]:
ciudad_estado_frecuencia = df.groupby(['City', 'State']).size()

In [29]:
ciudad_estado_ordenado = ciudad_estado_frecuencia.sort_values(ascending=False)

In [30]:
top_50_ciudades_estados = ciudad_estado_ordenado.head(50)

In [31]:
df_top_50 = top_50_ciudades_estados.reset_index(name='repeticiones')

print(df_top_50)

                City State  repeticiones
0            Chicago    IL            26
1       Philadelphia    PA            16
2            Houston    TX            13
3            Memphis    TN            11
4        Los Angeles    CA            11
5       Jacksonville    FL            10
6           Columbus    OH            10
7         Washington    DC             9
8           Portland    OR             9
9          Charlotte    NC             8
10            Dallas    TX             8
11         Baltimore    MD             7
12           Atlanta    GA             7
13        Fort Worth    TX             6
14         Milwaukee    WI             6
15            Mobile    AL             6
16       Albuquerque    NM             6
17            Toledo    OH             5
18          Brooklyn    NY             5
19          New York    NY             5
20        Woodbridge    VA             5
21          Rockford    IL             5
22       Little Rock    AR             4
23         Knoxville    TN             4
24         Las Vegas    NV             4
25       New Orleans    LA             4
26         Champaign    IL             4
27         Nashville    TN             4
28        Louisville    KY             4
29         Cleveland    OH             4
30            Yakima    WA             4
31       Kansas City    MO             4
32        Montgomery    AL             4
33         Lexington    KY             4
34         St. Louis    MO             4
35             Tulsa    OK             3
36  Colorado Springs    CO             3
37     San Francisco    CA             3
38            Fresno    CA             3
39        Pine Bluff    AR             3
40           Roanoke    VA             3
41       Minneapolis    MN             3
42     Winston-Salem    NC             3
43         Rochester    NY             3
44      Grand Rapids    MI             3
45            Aurora    CO             3
46             Omaha    NE             3
47        Portsmouth    VA             3
48      Newport News    VA             3
49            Denver    CO             3